@import "https://fonts.googleapis.com/css?family=Roboto100,600,900";
@import "https://use.fontawesome.com/releases/v5.2.0/css/all.css";
@import "weather-icons.min.css";
@import "weather-icons-wind.min.css";

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body {
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    background: #00ff72;
}

.container {
    width: 550px;
    margin: 32px auto;
}

.app {
    width: 360px;
    height: 700px;
    background: #282d43;
    overflow: hidden;
}

.header {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.header img {
    position: absolute;
    top: 0;
    left: 0;
    filter: blur(1px);
    opacity: 0.6;
}

.header .city {
    position: absolute;
    color: rgba(255, 255, 255, 0.8);
    width: 100%;
    display: block;
    font-size: 24px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 8px 16px;
}

.header .city i.fa {
    position: relative;
    float: right;
    right: 28px;
    font-size: 22px;
}

.header .city .today {
    display: block;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    color: rgba(155, 255, 255, 0.6);
}

.header .weather {
    position: absolute;
    width: 100%;
    height: 232px;
    display: block;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    margin-top: 120px;
    font-size: 155px;
    text-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5);
}

.header .temp {
    position: absolute;
    font-size: 75px;
    font-weight: 100;
    left: 0px;
    margin-top: -60px;
    margin-left: 10px;
    text-shadow: none;
}

.header .temp .unit {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    font-weight: 500;
    margin-right: -25px;
    margin-top: -8px;
}

.header .weather > .wi {
    position: relative;
    top: -10px;
}

.header .weather .wind-scale {
    position: absolute;
    font-size: 10px;
    font-weight: 600;
    right: 0;
    margin-right: 10px;
    margin-top: -54px;
    text-shadow: none;
    text-transform: uppercase;
    text-align: right;
    color: rgba(255, 255, 255, 0.3);
}

.header .weather .wind .wi,
.header .weather .wind-scale .wi {
    position: relative;
    font-size: 20px;
    margin-left: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.header .weather .day {
    position: absolute;
    font-size: 37px;
    font-weight: 100;
    text-transform: uppercase;
    bottom: 5px;
    right: 0;
    margin-right: 16px;
    text-shadow: none;
    opacity: 0.7;
    z-index: 10;
}

.header .weather .time {
    position: absolute;
    font-size: 37px;
    bottom: 5px;
    left: 0;
    margin-right: 16px;
    text-shadow: none;
    opacity: 0.7;
    z-index: 10;
}

.header::before,
.header::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100px;
    display: block;
    z-index: 9;
}

.header::before {
    bottom: 0;
    box-shadow: inset 0 -55px 50px -25px #282d43;
}

.header::after {
    top: 0;
    box-shadow: inset 0 40px 50px -25px #282d43;
}