@import "https://fonts.googleapis.com/css?family=Roboto";

:root {
    --colorPrimary: #2196F3;
    --colorPrimaryDark: #1976D2;
    --colorAccent: #00BFA5;
    font-family: "Roboto", sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.appbar__statusbar {
    height: 20px;
    background-color: var(--colorPrimaryDark);
}

.appbar__toolbar {
    position: relative;
    height: 30px;
    padding: 8px 16px;
    background-color: var(--colorPrimary);
    box-shadow: 
        0 4px 8px 0 rgba(0, 0, 0, 0.2), 
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.appbar__title {
    color: #fff;
    font-weight: 300;
    font-size: 20px;
}